<h1>Wrangling and Analyzing Data</h1>

<h2>About Dataset</h2>
The data is succesfully scrapped from imdb top netflix movies and tvshows.
<br><a href="https://www.kaggle.com/datasets/hassanelfattmi/which-movie-should-i-watch-today">Link to datasets from Kaggle</a>

<h2>Data Gathering</h2>

Directly download datasets(FilmDetails.csv, Movies.csv)

In [84]:
import pandas as pd

In [86]:
film_details_df = pd.read_csv('FilmDetails.csv')
movies_df = pd.read_csv('Movies.csv')

<h2>Assessing Data</h2>

<h4>Film Details Table</h4>

In [17]:
film_details_df.head()

,id,director,top_billed,budget_usd,revenue_usd
0,1,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",25000000.0,28341469.0
1,2,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Robert D...",6000000.0,245066411.0
2,3,Francis Ford Coppola,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",13000000.0,102600000.0
3,4,Steven Spielberg,"Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...",22000000.0,321365567.0
4,5,Sidney Lumet,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",397751.0,4360000.0

In [29]:
film_details_df.sample(10)

,id,director,top_billed,budget_usd,revenue_usd
5660,5661,Edoardo Falcone,"Marco Giallini, Alessandro Gassmann, Laura Mor...",NaN,NaN
6843,6844,Seth Rogen,"James Franco, Jonah Hill, Seth Rogen, Jay Baru...",32000000.0,126041322.0
1763,1764,Ryan Coogler,"Michael B. Jordan, Melonie Diaz, Octavia Spenc...",900000.0,17600000.0
5928,5929,Matt Spicer,"Aubrey Plaza, Elizabeth Olsen, O'Shea Jackson ...",NaN,24931915.0
185,186,Walter Salles,"Fernanda Montenegro, Vinícius de Oliveira, Mar...",2900000.0,5596708.0
1770,1771,Baz Luhrmann,"Leonardo DiCaprio, Tobey Maguire, Carey Mullig...",105000000.0,351040419.0
2419,2420,Sergio Corbucci,"Franco Nero, José Bódalo, Loredana Nusciak, Án...",NaN,17277.0
7075,7076,Randal Kleiser,"Brooke Shields, Christopher Atkins, Leo McKern...",4500000.0,58853106.0
3575,3576,Charles Martin Smith,"Morgan Freeman, Ashley Judd, Harry Connick Jr....",37000000.0,95404397.0
5054,5055,Shinji Aramaki,"Shun Oguri, Haruma Miura, Yu Aoi, Arata Furuta...",30000000.0,18010317.0

**Missing values in "budget_usd" and "revenue_usd" attributes**

In [35]:
film_details_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9718 entries, 0 to 9717
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           9718 non-null   int64
 1   director     9718 non-null   object
 2   top_billed   9701 non-null   object
 3   budget_usd   6737 non-null   float64
 4   revenue_usd  7177 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 379.7+ KB

In [114]:
sum(film_details_df["budget_usd"].duplicated())

8919

In [44]:
sum(film_details_df["revenue_usd"].duplicated())

3434

In [51]:
film_details_df["budget_usd"].value_counts()

budget_usd
20000000.0    276
10000000.0    228
30000000.0    226
25000000.0    218
15000000.0    217
             ...
104880.0        1
46700000.0      1
5200000.0       1
1678000.0       1
10000.0         1
Name: count, Length: 798, dtype: int64

In [67]:
film_details_df['director'].value_counts()

director
Woody Allen         47
Steven Spielberg    37
Clint Eastwood      36
Alfred Hitchcock    31
Ridley Scott        27
                    ..
Matthew Heineman     1
Breno Silveira       1
Antonia Bird         1
Hamish Grieve        1
James Nguyen         1
Name: count, Length: 3978, dtype: int64

In [69]:
film_details_df.describe()

                id    budget_usd   revenue_usd
count  9718.000000  6.737000e+03  7.177000e+03
mean   4859.500000  3.383723e+07  9.302323e+07
std    2805.489292  4.348576e+07  1.799382e+08
min       1.000000  2.000000e+03  3.491000e+03
25%    2430.250000  6.900000e+06  7.800000e+06
50%    4859.500000  1.900000e+07  3.112642e+07
75%    7288.750000  4.000000e+07  9.740000e+07
max    9718.000000  4.600000e+08  2.923706e+09

<h4>Movies Table</h4>

In [24]:
movies_df.head()

,id,title,genres,language,user_score,runtime_hour,runtime_min,release_date,vote_count
0,1,The Shawshank Redemption,"Drama, Crime",en,8.7,2,22,1994-09-23,27070
1,2,The Godfather,"Drama, Crime",en,8.7,2,55,1972-03-14,20563
2,3,The Godfather Part II,"Drama, Crime",en,8.6,3,22,1974-12-20,12403
3,4,Schindler's List,"Drama, History, War",en,8.6,3,15,1993-12-15,15810
4,5,12 Angry Men,Drama,en,8.5,1,37,1957-04-10,8611

In [75]:
movies_df.describe()

                id   user_score  runtime_hour  runtime_min    vote_count
count  9718.000000  9718.000000   9718.000000  9718.000000   9718.000000
mean   4859.500000     6.633268      1.200556    33.750463   1982.468821
std    2805.489292     0.783489      0.463344    15.679806   3135.105153
min       1.000000     2.200000      0.000000     0.000000    300.000000
25%    2430.250000     6.100000      1.000000    25.000000    468.000000
50%    4859.500000     6.700000      1.000000    36.000000    841.500000
75%    7288.750000     7.200000      1.000000    46.000000   1971.000000
max    9718.000000     8.700000      6.000000    59.000000  36495.000000

In [77]:
movies_df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9713    False
9714    False
9715    False
9716    False
9717    False
Length: 9718, dtype: bool

In [79]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9718 entries, 0 to 9717
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            9718 non-null   int64
 1   title         9718 non-null   object
 2   genres        9718 non-null   object
 3   language      9718 non-null   object
 4   user_score    9718 non-null   float64
 5   runtime_hour  9718 non-null   int64
 6   runtime_min   9718 non-null   int64
 7   release_date  9718 non-null   object
 8   vote_count    9718 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 683.4+ KB

**"release_date" object type**

In [106]:
movies_df["vote_count"].value_counts()

vote_count
342     27
310     25
360     25
312     23
327     23
        ..
6641     1
5506     1
3430     1
6659     1
1023     1
Name: count, Length: 3488, dtype: int64

<h4>Quality issues</h4>
<h5>FilmDetails Table</h5>

1. Missing values in "budget_usd" and "revenue_usd" attributes

<h5>Movies Table</h5>

1. "release_date" object type

<h2>Cleaning Data</h2>

<h4>Film Details Table</h4>

<h5>Issue #1: Missing values in "budget_usd" and "revenue_usd" attributes</h5>
<h5>Code</h5>

In [159]:
film_details_df['budget_usd'] = film_details_df['budget_usd'].fillna(film_details_df['budget_usd'].mean())
film_details_df['revenue_usd'] = film_details_df['revenue_usd'].fillna(film_details_df['revenue_usd'].mean())

<h5>Test</h5>

In [152]:
print(film_details_df[['budget_usd', 'revenue_usd']].isnull().sum())

budget_usd     0
revenue_usd    0
dtype: int64

<h4>Movies Table</h4>

<h5>Issue #1: "release_date" object type</h5>
<h5>Code</h5>

In [172]:
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'])

<h5>Test</h5>

In [174]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9718 entries, 0 to 9717
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            9718 non-null   int64
 1   title         9718 non-null   object
 2   genres        9718 non-null   object
 3   language      9718 non-null   object
 4   user_score    9718 non-null   float64
 5   runtime_hour  9718 non-null   int64
 6   runtime_min   9718 non-null   int64
 7   release_date  9718 non-null   datetime64[ns]
 8   vote_count    9718 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(3)
memory usage: 683.4+ KB

<h2>Storing Data</h2>

In [177]:
film_details_df.to_csv('CleanedFilmDetails.csv')
movies_df.to_csv('CleanedMovies.csv')